{% load i18n future mezzanine_tags pages_tags %}

{% spaceless %}
{% if page_branch_in_menu %}
<ul class="temoins nav nav-list navlist-menu-level-{{ branch_level }}">
  {% for page in page_branch %}
  {% if not has_home and page.is_primary and forloop.first %}
  <li{% if on_home %} class="active"{% endif %} id="tree-menu-home">
    <a href="{% url "home" %}">{% trans "Home" %}</a>
  </li>
  {% endif %}
  {% if page.in_menu %}
  <li class=" " id="tree-menu-{{ page.html_id }}">
    <hr style="width: 100%"/>
        <h3>{% editable page.title %}{{ page.title }}{% endeditable %}</h3>
        {% editable page.richtextpage.content %}
            {{ page.richtextpage.content|richtext_filters|safe }}
        {% endeditable %}
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endif %}
{% endspaceless %}
