{% load i18n future shop_tags mezzanine_tags %}
<div class="panel panel-default user-panel">
    <div class="panel-body">
    {% spaceless %}
    <a href="{% url "shop_cart" %}">
    <span class="glyphicon glyphicon-shopping-cart"></span>
    {% if request.cart.total_quantity == 0 or request.cart.total_quantity == 1 %}
        {{ request.cart.total_quantity }} cadeau ajouté
    {% else %}
        {{ request.cart.total_quantity }} cadeaux ajoutés
    {% endif %}
    {% trans "au panier" %}:
    {{ request.cart.total_price|currency }}</a><br>
    {% if request.cart.total_quantity != 0 %}
    <a href="{% url "shop_checkout" %}" class="btn btn-primary">
        {% if request.session.order.step %}{% trans "Revenir au cadeau" %}{% else %}{% trans "Faire le cadeau" %}{% endif %}
    </a><br>
    {% endif %}

    {% endspaceless %}
    </div>
</div>
