{% extends "base.html" %}
{% load i18n mezzanine_tags keyword_tags staticfiles %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "mezzanine/css/magnific-popup.css" %}">
{% endblock extra_css %}

{% block meta_title %}{% trans "voyagedenoces" %}{% endblock %}
{% block title %}
{% editable page.title %}
        {{ page.title|safe }}
{% endeditable %}
{% endblock %}

{% block breadcrumb_menu %}
 <li id="breadcrumb-menu-home">
        <a href="{% url "home" %}">{% trans "Home" %}</a>
</li>
<li class="active">{{ page.title|safe }}</li>
{% endblock %}

{% block main %}
{{ block.super }}

<p>
    {% editable page.richtextpage.content %}
        {{ page.richtextpage.content|richtext_filters|safe }}
    {% endeditable %}
</p>
    <iframe width='100%' height='500px' frameBorder='0'
    src='https://a.tiles.mapbox.com/v4/bsuttor.l8khhk3k/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoiYnN1dHRvciIsImEiOiJtZXo5REQ4In0.8WDGPWttjOW4tUt0pBI2wA#6/27.000/74.279'>
    </iframe>
</p>
<ul class="voyagedenoces">
    {% for c in page.children.published %}
        <li>
        <hr style="width: 100%"/>
        <h3>{{ c.gallery.title }}</h3>
        {% editable c.gallery.content %}
            {{ c.gallery.content|richtext_filters|safe }}
        {% endeditable %}

        <a href="#" data-gallid="{{ c.id }}" class="toggler"> Notre hôtel pour cette étape</a>
        <div id="gallery-{{ c.id }}" class="gallery row">
        {% with c.gallery.images.all as images %}
            {% for image in images %}
            <div class="col-xs-4 col-sm-3">
                <a class="thumbnail" rel="#image-{{ image.id }}" title="{{ image.description }}" href="{{ image.file.url }}">
                    <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail image.file 131 75 %}">
                </a>
            </div>
            {% endfor %}
        {% endwith %}
        </div>
        </li>
    {% endfor %}
{% endblock %}
</ul>
{% block extra_js %}
{{ block.super }}
    <script src="{% static "mezzanine/js/magnific-popup.js" %}"></script>
    <script>
    $(document).ready(function() {
        $('.toggler').click(function(event){
            event.preventDefault();
            var gallid = this.getAttribute('data-gallid');
            $('#gallery-'+gallid).slideToggle();
        });
        {% for c in page.children.published %}
            $('#gallery-{{ c.id }}').css('display','none');
            $('#gallery-{{ c.id }}').magnificPopup({
                delegate: 'a',
                type: 'image',
                gallery: {
                    enabled: true,
                }
            });
        {% endfor %}
    });
    </script>
{% endblock %}



